body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  background-color: #111;
  color: #eee;
}

/* Sidebar */
nav {
  width: 250px;
  height: 100vh;
  background-color: #1a1a1a;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
}

nav h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ccc;
}

nav a {
  display: block;
  color: #aaa;
  text-decoration: none;
  margin: 6px 0;
  font-size: 14px;
}

nav a:hover {
  color: #fff;
}

/* Main content */
main {
  margin-left: 250px;
  padding: 40px;
  max-width: 800px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  color: #ddd;
}

p {
  line-height: 1.6;
  color: #ccc;
}

/* Math and Table */
.equation {
  margin-left: 25px;
}

pre {
  font-size: 15px;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-family: monospace;
}

table {
  border-collapse: collapse;
  margin: 20px 0px 0px 25px;
  font-size: 16px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px 0px 12px;
  text-align: center;
}

thead tr:first-child th {
  border-top: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

tr th:first-child,
tr td:first-child {
  border-left: none;
}

tr th:last-child,
tr td:last-child {
  border-right: none;
}

/* Navigation footer */
.nav-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-footer a {
  text-decoration: none;
  color: #888;
}

.nav-footer a:hover {
  color: #fff;
}

